.entrada-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.formEntrada{
    margin: 2rem;
    padding: 0.5rem;
    width: 50vw;
    border-radius: 0.5rem;
}
.formEntrada h1{
    margin: 0.5rem;
    padding: 0.5rem;
}

.formEntrada p {
    margin: 0.5rem;
    padding: 0.5rem;
}

.formEntrada input[type="number"] {
    width: 4rem;
    height: 1.5rem;
    margin: 0.8rem;
    padding: 0.2rem;
    text-align: center;
}

.formEntrada input[type="submit"] {
    width: 10rem;
    height: 2rem;
    margin: 0.8rem;
    padding: 0.2rem;
    background-color: rgb(42, 71, 165);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.formEntrada input[type="submit"]:hover {
    background-color: rgb(57, 83, 170);
    color: black
}

.linksalvas{
    text-decoration: none;
    color: black;
}
.disc-salvas-btn{
    display: block;
    padding: 0.4rem;
    border: none;
    background-color: #fff;
}

.disc-salvas-btn:hover{
    text-decoration: underline;
}

.user-message{
    margin: 0.5rem;
    text-decoration: underline;
}