header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: rgb(2, 85, 2);
    color: #fff;
    box-sizing: border-box;
}

.links{
    color: #fff;
    text-decoration: none;
}
.header-title-icon{
    display: flex;
    align-items: center;
}
.header-title-icon h3 {
    margin-left: 0.5rem;
}
.icone-header{
    width: 50px;
    background-attachment: fixed;
}
