.disciplinasSalvasDiv{
    margin: 1rem;
    background-color: antiquewhite;
    padding: 2rem;
}
.disciplinasSalvasDiv h2, h3, h4{
    margin: 0.5rem;
}

.discTeoricasSalvas, .discPraticasSalvas{
    margin: 1rem;
    padding: 0.5rem;
}
.discTeoricasSalvas{
    background-color: burlywood;
}
.discPraticasSalvas{
    background-color: aquamarine;
}

