.disciplinasSalvasDiv{
    background-color: #f8f8f8c5;
    padding: 2rem;
    height: 100vh;
}
.disciplinasSalvasDiv h2, h3, h4{
    margin: 0.5rem;
}

.discTeoricasSalvas, .discPraticasSalvas{
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(74, 118, 168);
    border-radius: 10px;
}

.discTeoricasSalvas div, .discPraticasSalvas div {
    margin: 1rem;
    padding: 0.2rem;
}

.discTeoricasSalvas div p, .discPraticasSalvas div p{
    margin: 0.2rem;
}

.discTeoricasSalvas div h3, .discPraticasSalvas div h3{
    text-decoration: underline;
}

.discTeorica, .discPratica{
    background-color: #ffffffbb;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discTeorica input, .discPratica input{
    padding: 0.3rem;
}

.aprovado{
    color: green;
}

.reprovado{
    color: red;
}

.save-btn{
    background-color: rgb(42, 71, 165);
    color: #fff;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    margin: 1;
    margin-left: 1rem;
    width: 150px;
}

.save-btn:hover{
    text-decoration: underline;
}