.formNomes{
    margin: 2rem;
    padding: 0.5rem;
    width: 80vw;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formNomes h2{
    margin-bottom: 0.5rem;
}
.formNomes h1{
   margin: 1rem;
   padding: 0.5rem;
}

.div-nomes {
    background-color: #ffffff;
    width: 60%;
    padding: 1rem;
    border-radius: 0.5rem;
}
.formNomes input[type="text"] {
    margin: 2px;
    width: 60%;
    height: 1.2rem;
    text-align: center;
}

.formNomes input[type="submit"] {
    width: 10rem;
    height: 2rem;
    margin: 0.8rem;
    padding: 0.2rem;
    background-color: rgb(42, 71, 165);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.formNomes input[type="submit"]:hover {
    background-color: rgb(57, 83, 170);
    color: black
};

.p-name{
    margin: 0.5rem;
}
.h2-img{
    display: flex;
    align-items: center;
}
.h2-img h2{
    margin: 0.5rem;
}
.icone{
    width: 50px;
    height: 50px;
    margin: 0.5rem;
}