.h2-divMedia{
    text-decoration: underline;
}

.divMedia{
    margin: 2rem;
    padding: 0.5rem;
    background-color: #ffffff;;
    width: 50vw;
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}


.divMedia  h1 {
    background-color: #ffffff;;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.8rem;
}

.divMedia  h2 {
    background-color: #ffffff;;
    margin: 0.8rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.divMedia h3 {
    margin: 0.5rem;
    background-color: #140578b6;
    color: #fff;
    width: 70%;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

.divMedia label {
    margin: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
} 

.divMedia input[type="number"] {
    width: 6rem;
    height: 2rem;
    text-align: center;
}

.divMedia .resultado {
    margin: 1rem;
    padding: 0.5rem;
}

.divMedia .resultado p {
    padding: 0.4rem;
    font-weight: bold;
}

.nota-input{
    margin: 0.5rem;
}

.disciplina-card{
    background-color: #c4bbff73;;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.3rem;
}

.btn-salvar{
    display: flex;
    justify-content: center;
}

.btn-salvar button {
    padding: 0.5rem;
    width: 150px;
    background-color: #8978f7d8;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn-salvar button:hover{
    text-decoration: underline;
}